.commentContainer{
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: space-between;
    border-bottom: black solid 1px;
    padding-bottom: 7px;
}

.deleteCommentButton{
    height: 35px;
    width: 100px;
}

.editCommentButton{
    height: 35px;
    width: 100px;
}

.commentDetails{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.editCommentFormDiv{
    width: 100px;
    display: flex;
    z-index: 1;
}
